:root {
  --bl: #183661;
  --or: #ff6405;
  --or1: #f29f05;
  --txbl: black;
  --txgr: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

/* NAVBAR */
header {
  padding: 0 2rem;
  /* background-color: transparent;
  backdrop-filter: blur(5px); */
  background-color: var(--bl);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links li {
  list-style: none;
}

.navbar .links a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 4px;
  transition: 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.navbar .links a:hover {
  font-size: 0.9rem;
  color: var(--or);
}

.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* NAVBAR DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 65px;
  height: 0;
  width: 300px;
  background-color: rgba(0, 0, 1, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  list-style: none;
}

.dropdown_menu a {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 7px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.dropdown_menu a:hover {
  padding: 1.5rem;
  font-size: 0.9rem;
  color: var(--or);
}

.dropdown_menu.open {
  height: 265px;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(./img/bg_home.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.1;
  font-weight: 900;
}

.hero .content p {
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background-color: var(--or);
  border-radius: 20px;
}

.hero .content .cta:hover {
  font-size: 1.2rem;
}

/* BEST SELLER */
.best-seller {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.best-seller span {
  margin-left: 0.8rem;
  font-size: 2rem;
}

.best-seller h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--txgr);
}

.best-seller p {
  color: var(--txgr);
}

.best-seller-grid {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 3rem;
}

.best-seller-grid .best-seller-card {
  background-color: white;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  padding: 1rem;
}

.best-seller-grid .best-seller-card img {
  border-radius: 25px;
  width: 60%;
  margin-top: 1rem;
  margin: 0 3rem;
}

.best-seller-grid .best-seller-card h2 {
  color: var(--bl);
}

.best-seller-grid .best-seller-card p {
  color: var(--bl);
  font-size: 1rem;
}

/* OUR JOURNEY */
.our-journey {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.our-journey-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.our-journey-container img {
  width: 350px;
}

.our-journey-detail {
  max-width: 600px;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.our-journey-detail h1 {
  color: var(--txgr);
  font-style: italic;
  font-size: 2.5rem;
}

.our-journey-detail h2 {
  color: var(--txgr);
  font-size: 1.3rem;
}

.our-journey-detail p {
  font-size: 1rem;
  color: var(--txgr);
}

.our-journey-detail span {
  font-size: 1.3rem;
  font-weight: 600;
}

/* TESTIMONIALS */
.testimonials {
  padding-top: 4rem;
  padding-bottom: 8rem;
  text-align: center;
}

.testimonials h1 {
  font-size: 2.5rem;
  color: var(--txgr);
}

.testimonials p {
  font-size: 1rem;
  color: var(--txgr);
}

.testimonials-grid {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 3rem;
}

.testimonials-card {
  margin-top: 2rem;
  background-color: white;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  padding: 1rem;
}

.testimonials-card span {
  margin-left: 13rem;
  font-size: 1.5rem;
  color: var(--bl);
}

.testimonials-card:hover span {
  color: var(--or);
}

.testimonials-card h2 {
  margin-bottom: 0.1rem;
  font-weight: 600;
  color: var(--bl);
}

.testimonials-card p {
  font-size: 1rem;
  padding-bottom: 1rem;
  color: var(--bl);
}

.testimonials-card img {
  max-width: 100px;
  border-radius: 100%;
  border: 1px solid grey;
}

.testimonials-card h3 {
  color: var(--bl);
}

.testimonials-card h4 {
  color: var(--bl);
}

/* OUR CUSTOMER */
.our-customer {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

.our-customer h1 {
  font-size: 2.5rem;
  color: var(--txgr);
}

.our-customer p {
  font-size: 1rem;
  color: var(--txgr);
}

.our-customer-grid {
  margin-top: 2rem;
  padding: 2rem 0rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.our-customer-card {
  max-width: 200px;
  padding: 1rem;
  background-color: white;
  /* border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
}

.our-customer-card img {
  max-width: 100px;
}

/* MENU PAGE */

.menu-main {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.menu-container {
  display: flex;
}

.menu-container-grid {
  position: fixed;
  border-right: 3px solid #eee;
  z-index: 2;
}

.menu-side-bar {
  width: 15rem;
  background-color: white;
}

.menu-side-bar h3 {
  color: var(--bl);
}

.menu-side-bar-card {
  padding: 2rem 2rem 0 2rem;
}

.menu-side-bar-btn {
  padding: 20px;
}

.menu-button button {
  display: block;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.8rem;
  background-color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: wrap;
}

.menu-button .menu-btn-active {
  background-color: var(--or);
  color: white;
}

.menu-content {
  width: auto;
}

.menu-content .menu-header h1 {
  text-align: center;
  font-size: 2rem;
}

.menu-header {
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #eee;
  color: var(--bl);
  background-color: white;
}

.menu-content .menu-filter-card {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0rem 5rem 15rem;
  gap: 10px;
}

.menu-card.hide {
  display: none;
}

.menu-filter-card .menu-card {
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  padding: 1rem;
  text-align: center;
}

.menu-filter-card .menu-card img {
  width: 75%;
  border-radius: 30px;
}

.menu-filter-card .menu-card .menu-card-body {
  padding: 1px 1px 5px;
}

.menu-filter-card .menu-card .menu-card-title,
.menu-card-detail {
  color: var(--bl);
}

/* FOOTER */
.footer {
  background-color: var(--or);
  color: white;
  z-index: 3;
}

.footer span {
  color: wheat;
}

.footer h3 {
  font-size: 1rem;
  display: inline;
}

.footer-left .p-footer-left {
  font-size: 0.7rem;
}

.footer-left span:hover {
  color: var(--bl);
}

.footer-center .p-footer-center {
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 5px;
}

.footer-center .p-footer-center-adress {
  font-size: 0.7rem;
  display: inline-block;
  margin-left: 20px;
}

.footer-right .p-footer-right a {
  color: wheat;
  font-size: 0.7rem;
}

.footer-right .p-footer-right a:hover {
  color: var(--bl);
}

.footer-bottom {
  background-color: #102644;
  text-align: center;
  font-size: 0.7rem;
  width: 100%;
  padding: 1rem 1rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  header {
    background-color: none;
    backdrop-filter: none;
  }

  .dropdown_menu {
    display: block;
  }

  html {
    font-size: 75%;
  }


}

@media (max-height: 800px) {
  .footer {
    box-sizing: border-box;
    }
  }

  .footer-container {
    padding: 20px 15px 5px 15px;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 0.3rem 1rem 0.3rem;
    padding-top: 1rem;
  }

  .footer .footer-left {
    width: 33%;
  }

  .footer .footer-center {
    width: 35%;
  }
}

@media (max-width: 880px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0.3em 1rem 0.3rem;
  }
}

@media (max-width: 450px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  html {
    font-size: 55%;
  }
}
