:root {
  --bl: #183661;
  --bl2: #214982;
  --org: #ff6405;
  --gry: #a7a7a7;
  --blk: black;
  --wht: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

/* NAVBAR */
header {
  padding: 0 7%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid #eee;

}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--org);
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links li {
  list-style: none;
}

.navbar .links a {
  color: var(--org);
  font-size: 1rem;
  font-weight: 600;
  padding: 4px;
  transition: 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.navbar .links a:hover {
  font-size: 0.9rem;
}

.navbar .toggle_btn {
  color: var(--org);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* NAVBAR DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 65px;
  height: 0;
  width: 300px;
  background-color: rgba(0, 0, 1, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  list-style: none;
}

.dropdown_menu a {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 7px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.dropdown_menu a:hover {
  padding: 1.5rem;
  font-size: 0.9rem;
  color: var(--org);
}

.dropdown_menu.open {
  height: 265px;
}

/* HERO */
.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  background-image: url(./img/bg_home.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 4rem;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 8%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.1;
  font-weight: 900;
}

.hero .content p {
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background-color: var(--org);
  border-radius: 20px;
}

.hero .content .cta:hover {
  font-size: 1.2rem;
}

/* BEST SELLER */
.best-seller {
padding: 3rem 0;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.best-seller span {
  margin-left: 0.8rem;
  font-size: 2rem;
}

.best-seller h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--gry);
}

.best-seller p {
  color: var(--gry);
}

.best-seller-grid {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
}

.best-seller-img {
  width: 100%;
  padding: 4px;
  display: flex;
  margin: auto;
  position: relative;
}

.best-seller-img span {
  position: absolute;
  right: 0px;
  top: -10px;
  background-color: red;
  color: white;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 8px;
  border-top-right-radius: 0;
  font-size: 0.8rem;
  height: 25px;
}

.best-seller-grid .best-seller-card {
  max-width: 250px;
  width: 100%;
  background-color: white;
  padding: 20px 10px 10px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.best-seller-grid .best-seller-card img {
  width: 100%;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.best-seller-grid .best-seller-card h3 {
  color: var(--bl);
}

.best-seller-grid .best-seller-card p {
  color: var(--bl);
  font-size: 0.8rem;
}

/* OUR JOURNEY */
.our-journey {
  padding: 3rem 0;
  margin-bottom: 4rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.our-journey-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.our-journey-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.our-journey-detail h1 {
  color: var(--gry);
  font-style: italic;
  font-size: 2.5rem;
}

.our-journey-detail h2 {
  color: var(--gry);
  font-size: 1.3rem;
}

.our-journey-detail p {
  font-size: 1rem;
  color: var(--gry);
  justify-content: center;
  text-align: center;
}

.our-journey-detail span {
  font-size: 1.3rem;
  font-weight: 600;
}

.our-journey-img img {
  width: 350px;
}

/* TESTIMONIALS */
.testimonials {
  padding: 3rem 0;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.testimonials h1 {
  font-size: 2.5rem;
  color: var(--gry);
}

.testimonials p {
  font-size: 1rem;
  color: var(--gry);
}

.testimonials-grid {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.testimonials-card {
  margin-top: 2rem;
  background-color: white;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  padding: 1rem;
}

.testimonials-card span {
  margin-left: 13rem;
  font-size: 1.5rem;
  color: var(--bl);
}

.testimonials-card:hover span {
  color: var(--org);
}

.testimonials-card h2 {
  margin-bottom: 0.1rem;
  font-weight: 600;
  color: var(--bl);
}

.testimonials-card p {
  font-size: 1rem;
  padding-bottom: 1rem;
  color: var(--bl);
}

.testimonials-card img {
  max-width: 100px;
  border-radius: 100%;
  border: 1px solid grey;
}

.testimonials-card h3 {
  color: var(--bl);
}

.testimonials-card h4 {
  color: var(--bl);
}

/* OUR CUSTOMER */
.our-customer {
padding: 3rem 0;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.our-customer h1 {
  font-size: 2.5rem;
  color: var(--gry);
}

.our-customer p {
  font-size: 1rem;
  color: var(--gry);
}

.our-customer-grid {
  margin-top: 2rem;
  padding: 2rem 0rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.our-customer-card {
  max-width: 200px;
  padding: 1rem;
  background-color: white;
  /* border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
}

.our-customer-card img {
  max-width: 100px;
}

/* MENU PAGE */
.menu-main {
  min-height: 100vh;
  margin-bottom: -5px;
  content: "";
  display: block;
}

.menu-search-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-search-dropdown .search-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 10px;
  width: max-content;
  margin: 1rem 5%;
}

.search-container span i {
  color: #9f9f9f;
}

.search-input {
  padding-right: 30px;
  margin-left: 14px;
  border: none;
  outline: none;
  background: transparent;
  width: 300px;
}

.clear-button {
  right: 100px;
  top: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  display: none; /
}

.clear-button.show {
  display: block; /* Show the clear button */
}

.menu-container .dropdown {
  position: relative;
  display: inline-block;
  margin: 0 5%;
}

.dropdown .dropbtn {
  background-color: #ff7300;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .filter-options,
.dropdown-content .sort-options {
  padding: 10px;
}

.dropdown .dropdown-content button {
  background-color: white;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.dropdown .dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.dropdown .dropdown-content.show {
  display: block;
}

.hide {
  display: none;
}

.menu-button {
  cursor: pointer;
}

#sortButton {
  cursor: pointer;
}

.hidden {
  display: none;
}

.menu-content .menu-filter-card {
  margin: 2rem 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu-filter-card .menu-card {
  flex: 1 0 200px;
  max-width: 200px;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

.menu-card-img {
  width: 100%;
  padding: 4px;
  display: flex;
  margin: auto;
  position: relative;
}

.menu-card img {
  width: 100%;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.menu-card-img span {
  position: absolute;
  right: 0px;
  top: -10px;
  color: white;
  padding: 0 10px;
  font-weight: 600;
  border-radius: 8px;
  border-top-right-radius: 0;
  font-size: 0.7rem;
  height: 20px;
}

.menu-card-img .label-vegetables-span {
  position: absolute;
  right: 0px;
  top: 12px;
  color: white;
  padding: 0 10px;
  font-weight: 600;
  border-radius: 8px;
  border-top-right-radius: 0;
  font-size: 0.7rem;
  height: 20px;
}

.menu-card-img .label-meat {
  background-color: #b22222;
}

.menu-card-img .label-fruits {
  background-color: #3f3ffd;
}

.menu-card-img .label-chicken {
  background-color: #c69e6a;
}

.menu-card-img .label-vegetables {
  background-color: #008000;
}

.menu-card-img .label-vegetables-span {
  background-color: #008000;
}

.menu-card h3 {
  color: var(--bl);
}

.menu-card p {
  color: var(--bl);
  font-size: 0.8rem;
}

/* STORE PAGE */
.store-main {
  min-height: 100vh;
  margin-bottom: -5px;
  content: "";
  display: block;
}

.store-search-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.store-search-dropdown .store-search-container {
  display: flex;  
  position: relative;
  justify-content: flex-end;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 10px;
  width: max-content;
  margin: 1rem 5%;
}

.store-search-container span i {
  color: #9f9f9f;
}

.store-search-input {
  padding-right: 30px;
  margin-left: 14px;
  border: none;
  outline: none;
  background: transparent;
  width: 300px;
}

.store-clear-button {
  right: 100px;
  top: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  display: none; /
}

.store-clear-button.show {
  display: block; /
}

.store-container .store-dropdown {
  position: relative;
  display: inline-block;
  margin: 0 5%;
}

.store-dropdown .store-dropbtn {
  background-color: #ff7300;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.store-dropdown .store-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.store-dropdown-content .store-filter-options,
.store-dropdown-content .store-sort-options {
  padding: 10px;
}

.store-dropdown .store-dropdown-content button {
  background-color: white;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.store-dropdown .store-dropdown-content button:hover {
  background-color: #ddd;
}

.store-dropdown:hover .store-dropdown-content,
.store-dropdown .store-dropdown-content.show {
  display: block;
}

.hide {
  display: none;
}

.store-button {
  cursor: pointer;
}

#sortButton {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* -------------------TEST */


/* button.store-btn-active {
  background-color: orange;
}

.store-card.hide {
  display: none;
} */

.store-filter-card {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
  margin-left: 2rem;
}

.store-card {
  max-width: 300px;
  min-width: 200px;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.store-card-img{
  background-color: white;
}

.store-card-img img{
  justify-content: flex-end;
  width: 150px;
}

.store-card-detail h3 {
  padding-bottom: 1rem;
}

.store-card-detail {
  padding: 1rem;
  line-height: 1.5rem;
  color: var(--bl);
}

.store-card-a {
  background-color: #ff7300;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 3px;
}

.store-card-a a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}


/* FOOTER */
.footer .menu-main::after {
  height: -5px;
}

.footer {
  background-color: var(--wht);
  color: var(--blk);
  position: relative;
  z-index: 3;
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
}

.footer span {
  color: var(--org);
}

.footer h3 {
  font-size: 1rem;
  display: inline;
}

.footer-container {
  margin: 0 1rem;
}

.footer-left .p-footer-left {
  font-size: 0.7rem;
}

.footer-left span:hover {
  color: var(--bl);
}

.footer-center .p-footer-center {
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 5px;
}

.footer-center .p-footer-center-adress {
  font-size: 0.7rem;
  display: inline-block;
  margin-left: 20px;
}

.footer-right .p-footer-right a {
  color: var(--org);
  font-weight: 700;
  font-size: 0.7rem;
}

.footer-right .p-footer-right a:hover {
  color: var(--bl);
}

.footer-bottom {
  background-color: var(--bl);
  text-align: center;
  font-size: 0.7rem;
  width: 100%;
  padding: 1rem 1rem;
}

.footer-bottom p{
  color: var(--wht);
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  header {
    background-color: none;
    backdrop-filter: none;
  }

  .dropdown_menu {
    display: block;
  }

  html {
    font-size: 75%;
  }
}

@media (max-height: 800px) {
  .footer {
    box-sizing: border-box;
  }

  .footer-container {
    padding: 20px 15px 5px 15px;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 0.3rem 1rem 0.3rem;
    padding-top: 1rem;
  }

  .footer .footer-left {
    width: 33%;
  }

  .footer .footer-center {
    width: 35%;
  }
}
@media (max-width: 800px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0.3em 1rem 0.3rem;
  }
}

@media (max-width: 450px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  html {
    font-size: 55%;
  }
}
